# Telephone Directory

In [54]:
import pymongo as pym

In [55]:
client = pym.MongoClient('mongodb://127.0.0.1:27017/')

In [56]:
db = client['task2']

## inserting the data

In [57]:
information = db.telephonedirectory

In [58]:
records =[{
    "name" : "yashwanth",
    "place" : "mysore",
    "phone-no" : 8595879424,
    "age" : 22
},{
    "name" : "rahul",
    "place" : "chennai",
    "phone-no" : 8660995411,
    "age" : 23
},{
    "name" : "ravi",
    "place" : "mumbai",
    "phone-no" : 9986357294,
    "age" : 24
},{
    "name" : "kundan",
    "place" : "kolkota",
    "phone-no" : 7353157794,
    "age" : 18
},{
    "name" : "yash",
    "place" : "mysore",
    "phone-no" : 7595779424,
    "age" : 23
},{
    "name" : "delvin",
    "place" : "mysore",
    "phone-no" : 7483120012,
    "age" : 24
},{
    "name" : "kashap",
    "place" : "pune",
    "phone-no" : 9141253645,
    "age" : 25
},{
    "name" : "yashwanth",
    "place" : "chennai",
    "phone-no" : 8550066819,
    "age" : 23
},{
    "name" : "yashwanth",
    "place" : "mumbai",
    "phone-no" : 8955879424,
    "age" : 27
}]

In [59]:
information.insert_many(records)

## retriving the data from the database

In [60]:
for i in information.find():
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'mysore', 'phone-no': 8595879424, 'age': 22}
{'_id': ObjectId('63522d4b8c390514e250827b'), 'name': 'rahul', 'place': 'chennai', 'phone-no': 8660995411, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e250827d'), 'name': 'kundan', 'place': 'kolkota', 'phone-no': 7353157794, 'age': 18}
{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'mysore', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'mysore', 'phone-no': 7483120012, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508280'), 'name': 'kashap', 'place': 'pune', 'phone-no': 9141253645, 'age': 25}
{'_id': ObjectId('63522d4b8c390514e2508281'), 'name': 'yashwanth', 'place': 'chennai', 'phone-no': 8550066819, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

In [61]:
information.find_one()

{'_id': ObjectId('63522d4b8c390514e250827a'),
 'name': 'yashwanth',
 'place': 'mysore',
 'phone-no': 8595879424,
 'age': 22}

In [62]:
information.find_one({"place":"mysore"})

{'_id': ObjectId('63522d4b8c390514e250827a'),
 'name': 'yashwanth',
 'place': 'mysore',
 'phone-no': 8595879424,
 'age': 22}

In [63]:
for i in information.find({"place":"mysore"}):
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'mysore', 'phone-no': 8595879424, 'age': 22}
{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'mysore', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'mysore', 'phone-no': 7483120012, 'age': 24}

In [64]:
for i in information.find({"age":{"$gt":23}}):
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'mysore', 'phone-no': 7483120012, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508280'), 'name': 'kashap', 'place': 'pune', 'phone-no': 9141253645, 'age': 25}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

In [65]:
for i in information.find({"age":{"$gte":25}}):
    print(i)

{'_id': ObjectId('63522d4b8c390514e2508280'), 'name': 'kashap', 'place': 'pune', 'phone-no': 9141253645, 'age': 25}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

## updating the data

In [66]:
#update one
information.update_one({"phone-no":8595879424},{"$set":{"age":23,"place":"delhi"}})

In [67]:
for i in information.find({"phone-no":8595879424}):
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'delhi', 'phone-no': 8595879424, 'age': 23}

In [68]:
#update many
information.update_many({"place":"mysore"},{"$set":{"place":"USA"}})

In [69]:
# the place as been updated from "mysore" to "USA"
for i in information.find({"place":"USA"}):
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'USA', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'USA', 'phone-no': 7483120012, 'age': 24}

## deletin the data in the database

In [70]:
for i in information.find():
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'delhi', 'phone-no': 8595879424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827b'), 'name': 'rahul', 'place': 'chennai', 'phone-no': 8660995411, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e250827d'), 'name': 'kundan', 'place': 'kolkota', 'phone-no': 7353157794, 'age': 18}
{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'USA', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'USA', 'phone-no': 7483120012, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508280'), 'name': 'kashap', 'place': 'pune', 'phone-no': 9141253645, 'age': 25}
{'_id': ObjectId('63522d4b8c390514e2508281'), 'name': 'yashwanth', 'place': 'chennai', 'phone-no': 8550066819, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

In [71]:
#delete one column form the collection where i am deleting the column where the is kundan
information.delete_one({"name":"kundan"})

In [72]:

for i in information.find():
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'delhi', 'phone-no': 8595879424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827b'), 'name': 'rahul', 'place': 'chennai', 'phone-no': 8660995411, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'USA', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'USA', 'phone-no': 7483120012, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508280'), 'name': 'kashap', 'place': 'pune', 'phone-no': 9141253645, 'age': 25}
{'_id': ObjectId('63522d4b8c390514e2508281'), 'name': 'yashwanth', 'place': 'chennai', 'phone-no': 8550066819, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

#### where in a telephone directory there can be more than 2 people who has the same name  so what we do is delete it by using the only column which is unique and in this case it is the phone number

In [73]:
for i in information.find():
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'delhi', 'phone-no': 8595879424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827b'), 'name': 'rahul', 'place': 'chennai', 'phone-no': 8660995411, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'USA', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'USA', 'phone-no': 7483120012, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508280'), 'name': 'kashap', 'place': 'pune', 'phone-no': 9141253645, 'age': 25}
{'_id': ObjectId('63522d4b8c390514e2508281'), 'name': 'yashwanth', 'place': 'chennai', 'phone-no': 8550066819, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

In [74]:
information.delete_one({"phone-no":9141253645})

In [75]:
# as you can see the name kashap as been deleted form the database
for i in information.find():
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'delhi', 'phone-no': 8595879424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827b'), 'name': 'rahul', 'place': 'chennai', 'phone-no': 8660995411, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e250827e'), 'name': 'yash', 'place': 'USA', 'phone-no': 7595779424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827f'), 'name': 'delvin', 'place': 'USA', 'phone-no': 7483120012, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508281'), 'name': 'yashwanth', 'place': 'chennai', 'phone-no': 8550066819, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

In [76]:
# delete many
information.delete_many({"place":"USA"})

In [77]:
# as you see the place USA as been deleted from the database
for i in information.find():
    print(i)

{'_id': ObjectId('63522d4b8c390514e250827a'), 'name': 'yashwanth', 'place': 'delhi', 'phone-no': 8595879424, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827b'), 'name': 'rahul', 'place': 'chennai', 'phone-no': 8660995411, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e250827c'), 'name': 'ravi', 'place': 'mumbai', 'phone-no': 9986357294, 'age': 24}
{'_id': ObjectId('63522d4b8c390514e2508281'), 'name': 'yashwanth', 'place': 'chennai', 'phone-no': 8550066819, 'age': 23}
{'_id': ObjectId('63522d4b8c390514e2508282'), 'name': 'yashwanth', 'place': 'mumbai', 'phone-no': 8955879424, 'age': 27}

In [80]:
#deleting all the data
information.delete_many({})

In [83]:
# as we can see all the data has been deleted
for i in information.find():
    print(i)